# ==========================================
# ENTORNOS LOCALES
# ==========================================
.venv/
venv/
env/

# ==========================================
# CACHE Y ARCHIVOS COMPILADOS
# ==========================================
__pycache__/
*.py[cod]
*.so

# ==========================================
# DIRECTORIOS DE DISTRIBUCIÓN / EMPAQUETADO
# ==========================================
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# ==========================================
# LOGS / REPORTES / TOOLS
# ==========================================
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log

# ==========================================
# DOCUMENTACIÓN
# ==========================================
docs/_build/

# ==========================================
# EDITORES Y ENTORNOS
# ==========================================
.idea/
.vscode/
.spyproject/

# ==========================================
# OTROS
# ==========================================
.ipynb_checkpoints/
.DS_Store
*.swp
*.swo
.mypy_cache/

# ==========================================
# DATOS / MODELOS GRANDES
# (La API no usa estos archivos directamente)
# ==========================================
/data/
src/models/artifacts/*
!src/models/artifacts/*.dvc

# ==========================================
# ARCHIVOS DVC (IGNORAR EN DOCKER)
# ==========================================
# Evitamos meter la máquina DVC o su caché dentro del contenedor
.dvc/
.dvcignore
**/*.dvc
**/.dvc/cache/*
**/.dvc/tmp/*
.cache/
.cache/dvc/

# ==========================================
# MLflow artifacts (pesados e innecesarios en producción)
# ==========================================
mlruns/
.mlflow/

# ==========================================
# ARCHIVOS DE DATOS PROCESADOS
# (La API solo usa el modelo final)
# ==========================================
src/data/processed/*.csv
!src/data/processed/*.dvc
